.vid {
    width: 100%;
    border: 0px;
    position: relative;
}

.title {
    font-size: 18pt;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    left:5px;
    top:5px;
    position: absolute;
}

.question {
    font-size: 7pt;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    left:3px;
    top:20px;
    position: absolute;
    z-index: 999;
}

.smallVid {
    background-repeat:no-repeat;
    position:absolute;
    background-size:contain;
    background-position: right;
    z-index: 99;
    width:100%;
    height:100%;
}

.vidwrapperWidya {
    width:32%;
    height:32%;
    position:absolute;
    right:5px;
    top:5px;
    z-index: 9;
}

.vidwrapper{
    display:table;
    width:auto;
    position:relative;
}

.play {
    opacity: .75;
    background-repeat:no-repeat;
    width:15%;
    height:15%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}

.play2 {
    opacity: .75;
    background-repeat:no-repeat;
    width:30%;
    height:30%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
    z-index: 999;
}

.pause {
    opacity: .05;
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
    z-index: 999;
}

.table-black {
    border: solid 1px #000;
}

.table-black td {
    border-bottom: solid 1px #000;
    border-left: solid 1px #000;
}

.table-black th {
    border-bottom: solid 1px #000;
}