.struktur__node {
    position: relative;

    &:hover {
        cursor: grab;
    }
    &:active {
        cursor: grabbing;
    }

    .struktur__nodeDragHelper {
        display: none;
        position: absolute;
        top: -1rem;
        left: 2rem;
        background: #fff;
        box-shadow: 0px 0px 10px 10px #fff;
    }
    &:hover {
        .struktur__nodeDragHelper {
            display: block;
        }
    }
    .struktur__nodeDragForbidden {
        display: none;
        position: absolute;
        bottom: -1.5rem;
        background: #fff;
        box-shadow: 0px 1px 10px 10px #fff;
        &.show {
            display: block;
        }
    }
}