// Variable overrides
$netis-primary: #F7E99A;
$netis-secondary: #FFB95B;

$theme-colors: (
    "netis-primary": $netis-primary,
    "netis-secondary": $netis-secondary
);

$line-height-base: 1.6;
$small-font-size: 85%;
